* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.Single_product_container {

    min-height: 100vh;
    padding: 18px;

    .product_images {
        border: 2px solid rgb(243, 133, 155);
        opacity: 0.8;

        &:hover {
            border: 2px solid crimson;
            opacity: 1;
        }
    }
}